/* ## front-page.php
--------------------------------- */

.home {

  @include media($large-screen-up) {
    .wrap {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .site-inner {
    background-color: #fff;
    margin-bottom: 0;
    margin-top: 0;
    max-width: none;
    padding-top: 0;
    width: auto;

    @include media($ipad-screen-up) {
      padding-left: 0;
      padding-right: 0;
    }

    @include media(max-width 860px) {
      @include padding(null 0);
    }
  }

  .content {
    background-color: #f2f2f2;
    max-width: none;

    @include media($xxxlarge-screen-up) {
      @include outer-container(1280px);
      float: none;
    }
  }


  .row {
    margin: 0 auto;
    max-width: 1280px;
    overflow: hidden;

    @include media($xxxlarge-screen-up) {
      max-width: none;
    }

    @include media($ipad-screen-up) {
      @include padding(0);
    }
  }

  .section--title {
    margin-bottom: 0;
    padding: 1.5rem 0;
    text-align: center;
    text-transform: uppercase;

    @include media($ipad-screen-up) {
      font-size: 1.3em;
    }
  }


  // ACF Field - Full Row - Primary Hero
  .primary-hero {
    @include padding(300px 0);
    color: #fff;
    text-align: center;

    @include media($ipad-screen-up) {
      @include padding(190px 30px);
    }

  }

  .p-hero-overlay {
    @include padding(20px);
    background-color: rgba(0,0,0,.5);
    max-width: 500px;
    text-align: left;
    text-shadow: 1px 1px 3px rgba(150,150,150,1);

    @include media($xlarge-screen-up) {
      @include margin(0 auto);
      text-align: center;
    }
  }

  .cta-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    max-width: 500px;
    text-align: left;

    @include media($xlarge-screen-up) {
      @include margin(null auto);
      text-align: center;
    }

    @include media($small-screen-up) {
      justify-content: center;
    }

    a:last-child {
      @include media($small-screen-up) {
          display: none;
      }
    }

    .button {
      min-width: 230px;
      text-align: center;
    }

  }


  // ACF Field Product Cats
  .product-cats {

    .pcats-heading {
      @include margin(2em 0);
      text-align: center;

      h1 {
        text-transform: uppercase;
      }
    }

    .product-category {
      @include span-columns(2 of 10);
      @include omega(5n);
      
      h3 {
        border-bottom: 3px solid $blue1;
        color: $blue1;
        margin-bottom: 1.5em;
      }

      img {
        border-radius: 50%;
      }

      .pcat-description {
        font-size: 80%;
      }
    }

  }



  // ACF Field - Full Row - Mini Quote section
  .mini-quote-section {
    @include padding(30px 60px);
    max-width: 100%;
    text-align: center;

    @include media($xlarge-screen-up) {
      @include padding(0);
    }

    .mini-quote-wrapper {
      margin-top: 2em;
    }

    blockquote {
      color: $white1;
      font-size: 2em;
      text-transform: uppercase;

      @include media($xxxlarge-screen-up) {
        font-size: 1.75em;
      }

      @include media($xlarge-screen-up) {
        font-size: 1.4em;
      }

      @include media($ipad-screen-up) {
        font-size: 1.3em;
      }

      @include media($small-screen-up) {
        @include padding(0);
      }
    }
  }


  // ACF Field - Secondary Hero
  .secondary-hero {
    @include padding(300px 0);
    color: $white1;
    text-align: center;

    .secondary-hero-overlay {
      @include padding(null null 2em);
      background-color: $black1;
      border: 1px solid $white1;
      float: right;
      max-width: 350px;
      transform: translateY(-230px);

      @include media($ipad-screen-up) {
        @include margin(0 auto);
        float: none;
      }
    }

    .collection-wrap {
      @include padding(0 2.5em);
    }

    .collection-wrap-heading {
      margin-top: 2em;
    }

    .button {
      @include padding(1.5em 3em);
      background-color: transparent;
      border: 2px solid $white1;

      &:hover {
      }
    }

  }


}







