/* ## front-page.php
--------------------------------- */

.home {
  background-color: $white1;

  @include media($large-screen-up) {
    .wrap {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .site-inner {
    margin-bottom: 0;
    margin-top: 0;
    max-width: none;
    padding-top: 0;
    width: auto;

    @include media($ipad-screen-up) {
      padding-left: 0;
      padding-right: 0;
    }

    @include media(max-width 860px) {
      @include padding(null 0);
    }
  }

  .row {
    margin: 0 auto;
    max-width: 1280px;
    overflow: hidden;

    @include media($xxxlarge-screen-up) {
      max-width: none;
    }

    @include media($ipad-screen-up) {
      @include padding(0);
    }
  }


  // ACF Field - Full Row - Primary Hero
  .primary-hero {
    @include padding(300px 0);
    color: #fff;
    text-align: center;

    @include media($ipad-screen-up) {
      @include padding(190px 30px);
    }

  }

  .p-hero-overlay {
    @include padding(20px);
    background-color: rgba(0,0,0,.5);
    max-width: 500px;
    text-align: left;
    text-shadow: 1px 1px 3px rgba(150,150,150,1);

    @include media($xlarge-screen-up) {
      @include margin(0 auto);
      text-align: center;
    }
  }

  .cta-container {
    @include display(flex);
    @include justify-content(space-between);
    margin-top: 10px;
    max-width: 500px;
    text-align: left;

    @include media($xlarge-screen-up) {
      @include margin(null auto);
      text-align: center;
    }

    @include media($small-screen-up) {
      justify-content: center;
    }

    a:last-child {
      @include media($small-screen-up) {
          display: none;
      }
    }

    .button {
      min-width: 230px;
      text-align: center;
    }

  }


  // ACF Field Product Cats
  .product-cats {
    @include padding(null 2.5%);
    margin-bottom: 2em;

    .pcats-heading {
      @include margin(2em 0);
      text-align: center;

      h1 {
        text-transform: uppercase;
      }
      
      p {
        @include media($small-screen-up) {
          text-align: left;
        }
      }
    }

    .product-category {
      @include span-columns(2 of 10);
      @include omega(5n);

      @include media($xxxlarge-screen-up) {
        @include omega-reset(5n);
        @include span-columns(3 of 10);
        @include omega(3n);
        min-height: 470px;
      }

      @include media($ipad-screen-up) {
        @include omega-reset(3n);
        @include span-columns(5 of 10);
        @include omega(2n);
      }

      @include media($small-screen-up) {
        @include omega-reset(2n);
        @include span-columns(10 of 10);
      }

      h3 {
        border-bottom: 3px solid $blue1;
        color: $blue1;
        font-size: 1.1em;
        margin-bottom: 1.5em;

        @include media($small-screen-up) {
          font-size: modular-scale(2);
          text-align: center;
        }
      }
      img {
        border-radius: 50%;
      }

      .pcat-description {
        font-size: 80%;
      }
    }

  }

  // FAQ Section
  .faqs {
    @include padding(null 2.5%);
    margin-bottom: 3em;

    .faqs-heading {
      @include margin(2em 0);
      text-align: center;

      p {
        @include media($small-screen-up) {
          text-align: left;
        }
      }
    }

    h1 {
      text-align: center;
    }

    .left-content,
    .right-content {
      @include span-columns(6 of 12);

      @include media($ipad-screen-up) {
        @include span-columns(12 of 12);
      }
    }

    .left-content {
      @include media($ipad-screen-up) {
        @include margin(2em null 3em);
      }
    }
  }

  // Testimonials Section
  .testimonials {
    @include padding(null 2.5%);
    margin-bottom: 2em;

    .testimonials-heading {
      @include margin(2em 0 null);
      text-align: center;

      p {
        margin-bottom: 0;

        @include media($small-screen-up) {
          text-align: left;
        }
      }
    }

    .entry {
      background-color: transparent;
    }

    .testimonials-widget-testimonial .image {
      margin-right: 1.2em;

      @include media($ipad-screen-up) {
        display: block;
        float: none;
        text-align: center;
      }

      img {
        border-radius: 50%;
      }
    }

    .testimonials-widget-testimonial cite,
    .testimonials-widget-testimonial div.credit {
      text-align: center;
      
      @include media($ipad-screen-up) {
        padding-left: 2em;
        text-align: left;
      }

      @include media($small-screen-up) {
        padding-left: 0;
        text-align: center;
      }
    }
  }
}







