/*! ## Accordion
---------------------------- */
#accordion {
  margin-bottom: 0.625em; }

#accordion h2 {
  margin: 1em 0;
  border-bottom: 1px solid #cacaca;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 0.5em;
  text-transform: uppercase;
}

#accordion .accordion-item h2:before {
  margin: -0.3125em 0.8125em 0 0;
  content: "-";
  float: right;
  font-size: 1.875em;
}

@media screen and (max-width: 600px) {
  #accordion .accordion-item h2:before {
    margin-right: 0;
  }
}

#accordion .accordion-item.closed h2:before {
  content: "+";
}

#accordion .accordion-content {
  padding: 0;
  height: 0;
  overflow: hidden;
}
